@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
p{
    font-size: 1.8rem;
}
.header{
    background-color: #0c426e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 7%;
    position: absolute;
    top:0; left: 0; right: 0;
    z-index: 1000;
}
.header .logo img{
    height: auto;
    width: auto;
}
.header .navbar a{
    padding: 1.8rem ;
    font-size: 1.8rem;
    text-transform: uppercase;
    color:#fff;
    transition: 0.3s ease-in;
}
.header .navbar a:hover{
    color: #000;
}
.header .search{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .menu {
    color:rgb(122, 113, 113);
    background-color: #fff;
    padding: 1.6rem;
    font-size: 2rem;
    border-radius: 5px;
    display: none;
}

/*****************Header and global styling started here*********************/
.content{
    padding: 5rem;
}
 .headline{
    text-align: center;
    font-size: 4rem;
    position: relative;
}
.headline::after{
    content: "";
    position: absolute;
    border-radius: 10px;
    width: 100px;
    height: 10px;
    background-color: #111;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
}
.headline span{
    color: #0c426e;
}
section{
    margin: 3rem;
}
/***************Main section started***************/

.content .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.content .card .image{
    flex: 1 1 35rem;
}
.content .card .image img{
    height:100%;
    width: 100%;
    object-fit: cover;
}
.content .card .card_content{
    flex:1 1 45rem;
    padding:2rem 8rem;
}
.card_content h1{
    font-size: 9rem;
    color: #000;
}
.card_content p{
    padding: 1rem 0;
    color: #000;
}
.btns{
    display: flex;
}
.btns button{
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin: 3rem 0;
}
.btns .quote{
    background-color: #0e60a2;
    color: #fff;
}
.btns .contact{
    background-color: #222;
    color: #fff;
    margin-left: 2rem;
}

/* <!-----Services section-------> */

.services .content p{
    text-align: center;
    padding-top: 3rem;
}
.services .box_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem , 1fr));
}
.services .box_container .box{
    text-align: center;
    padding:2rem 2rem;
    display: flex;
    flex-direction: column;
}
.services .box_container .box h2{
    text-align: center;
    padding:2rem ;
    font-size: 3rem;
    color: #222;
}
.services .box_container .box p{
    color: #222;
    padding-top: 0;
    text-align: justify;
}
.services .box_container .box img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.services .box_container .box a{
    font-size: 2rem;
    background: #222;
    color: #fff;
    padding: 1rem 2rem;
    width: fit-content;
    margin: 2rem auto;
}

/* <!-----Quality section-------> */

.quality_content{
    margin: 10rem 0 0;
    background: url("images/img-4.png") no-repeat center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}
.quality_content h1{
    font-size: 3.8rem;
    padding-top: 9rem;
    color: #111;
}
.quality_content p{
    padding: 4rem 10em;
    color: #333;
}
.quality_content a{
    font-size: 2rem;
    background: #fff;
    color: #000;
    padding: 1rem 2rem;
    width: fit-content;
    margin: 2rem auto 8rem;
}
.quality_content a:hover{
    background: #222;
    color: #fff;
}

/* <!-----Choose section-------> */

 .rows{
    display: flex;
    margin-top: 8rem;
    justify-content: space-between;
    flex-wrap: wrap;
 }
.choose{
    width: 30%;
}

 .rows .choose .number_1{
    width: 100%;
    display: flex;
 }

.number {
    width: 40px;
    font-size: 2rem;
    color: #0c426e;
    border-radius: 100%;
    border: 1px solid #0c426e;
    text-align: center;
    padding: 5px 0px;
    font-weight: 600;
}

.text {
    width: 100%;
    font-size: 2rem;
    color: #0c426e;
    padding: 5px 20px ;
    font-weight: 600;
}

.dummy_text {
    width: 100%;
    font-size: 1.6rem;
    color: #000;
    margin: 10px;
}

/*******Testimonial*********/

.testimonial .slider{
    box-shadow: 0 0 5px rgba(0,0,0.3);
    padding: 4rem 15rem;
    margin: 4rem;
}
.testimonial .slider .review{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.testimonial .slider .review .inner_text{
    display: flex;
    flex-direction: column;
}
.testimonial .slider .review .inner_text h2{
    font-size: 2rem;
    padding-top: 2rem;
}

/***********footer section************/

.footer_section .row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer_section {
    width: 100%;
    background-color: #252525;
    height: auto;
    padding: 12rem;
}
.useful_text {
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 15px;
    font-weight: bold;
}
.footer_menu {
    width: 100%;
}

.footer_menu ul {
    margin: 0px;
    padding: 0px;
}

.footer_menu li {
    font-size: 1.5rem;
    color: #b1b6c2;
}

.footer_menu li a {
    color: #b1b6c2;
}

.footer_menu li a:hover {
    color: #ffffff;
}

.footer_menu li.active a {
    color: #fff;
}
.contact div,
.contact div span{
    padding: 1rem;
    font-size: 1.5rem;
}

.Enter_text {
    width: 100%;
    font-size: 1.5rem;
    color: #162448;
    background-color: #ffffff;
    padding: 8px 10px;
    margin-top: 10px;
    border: 0px;
    text-align: center;
}

input.Enter_text::placeholder {
    color: #162448;
}

.subscribe_bt {
    width: 190px;
    margin-top: 20px;
}

.subscribe_bt a {
    width: 100%;
    font-size: 18px;
    color: #ffffff;
    background-color: #0c426e;
    text-align: center;
    padding: 8px 18px;
    text-transform: uppercase;
}

.subscribe_bt a:hover {
    color: #162448;
    background-color: #ffffff;
}
.footer_text {
    width: 100%;
    font-size: 1.5rem;
    color: #b1b6c2;
    margin: 0px;
    padding-top: 10px;
}

.location_text {
    width: 100%;
    font-size: 16px;
    color: #b1b6c2;
}

.location_text a {
    color: #b1b6c2;
}

.location_text a:hover {
    color: #ffffff;
}

/**********Social media*********/
.social_icon {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.social_icon li {
    float: left;
    margin: 50px 0px;
}

.social_icon li a {
    padding: 20px;
    background-color: #ffffff;
    color: #000;
    border-radius: 100%;
    font-size: 22px;
    margin: 0px 5px;
    width: 59px;
    height: 59px;
}

.social_icon li a:hover {
    background-color: #0056b3;
    color: #ffffff;
}
.copy{
    text-align: center;
}
.copy .copyright_text{
    color: #fff;
    font-size: 2rem;
}


/*************Media Queries---------------**/

@media screen and (max-width: 990px){
    html{
        font-size: 50%;
    }
    section{
        padding:2rem;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    .header .menu {
        display: inline-block;
    }
    .header .search {
        position: absolute;
        bottom: -540%;
        right: auto;
    }
    .header .navbar{
        position: absolute;
        top: 100%; right: 0;
        transform: scaleY(0);
        text-align: center;
        background: #0c426e;
        width: 100%;
        height: 65vh;
        z-index: 1000;
        transition: 0.5s all;
    }
    .header .navbar.active{
        transform: scaleY(1);
    }
    .header .navbar a{
        display: block;
    }
    .header .search{
        visibility: hidden;
    }
    .card_content h1{
        font-size: 6rem;
    }
    .card_content p{
        padding: 1rem 0;
    }
}

@media screen and (max-width: 813px){
    .footer_section .newsletter{
        margin-top: 1rem;
    }
}


@media screen and (max-width: 570px){
    .header .search {
        position: absolute;
        bottom: -540%;
        right: 50%;
    }
}

@media screen and (max-width: 520px){
    .content{
        padding: 6rem 0;
    }
    .card_content h1{
        font-size: 5rem;
    }
    .card_content p{
        padding: 0.8rem 0;
    }
    section{
        margin: 1rem;
    }
    .content .card .card_content{
        padding: 2rem 0rem;
    }
    .quality_content p{
        padding: 4rem 1rem;
        color: #222;
        font-size: 2rem;
    }
    .rows{
        flex-direction: column;
    }
    .choose{
        width: 100%;
        padding: 2rem;
    }
    .choose h4{
        font-size: 2.2rem;
    }
    .choose p{
        font-size: 2rem;
    }
    .testimonial .slider{
        margin-top: 4rem;
        box-shadow: 0 0 2px rgba(0,0,0.3);
        padding: 1rem 2rem;
    }
    .testimonial .slider .review{
        flex-direction: column;
        margin-top: 9rem;
    }
    .testimonial .slider .review .inner_text h2{
        padding-top: 4rem;
    }
    .footer_section {
        padding: 3rem 1rem;
    }
    .footer_section .row{
        flex-direction: column; 
    }
    .useful_text{
        font-size: 3rem;
    }
    .footer_menu li {
        font-size: 2rem;
        padding: 1rem 0;
    }
}